<!DOCTYPE html>
<html lang="en">
<head>
    <title>VocalGear Project</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="/user/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/user/css/animate.css">
    <link rel="stylesheet" href="/user/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/user/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/user/css/magnific-popup.css">
    <link rel="stylesheet" href="/user/css/aos.css">
    <link rel="stylesheet" href="/user/css/ionicons.min.css">
    <link rel="stylesheet" href="/user/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/user/css/jquery.timepicker.css">
    <link rel="stylesheet" href="/user/css/flaticon.css">
    <link rel="stylesheet" href="/user/css/icomoon.css">
    <link rel="stylesheet" href="/user/css/style.css">
    <link rel="stylesheet" href="/user/css/profile.css">
    <!-- TOASTER CSS  -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>
    <!-- SWEETALERT  -->


</head>

<body class="goto-here">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">VocalGear</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/shop">Shop</a>
                </li>
               
            </ul>
            <ul class="navbar-nav ml-auto icons">
                <li class="nav-item">
                    <a class="nav-link" href="wishlist.html">
                        <img src="/user/images/Wishlist.svg" alt="Wishlist" class="icon">
                        Wishlist
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cart">
                        <img src="/user/images/Cart.svg" alt="Cart" class="icon">
                        Cart
                    </a>
                </li>

                <!-- Dropdown Menu for User -->
                <li class="nav-item">
                    <% if (user) { %>
                    <div class="dropdown">
                        <a href="/profile" class="dropdown-toggle">
                            <img src="/uploads/profile-Image/<%= user.profileImage || 'default-profile.png' %>" alt="Profile" class="profile-image">
                            <%= user.name %>
                        </a>
                        <div class="dropdown-content">
                            <a href="/profile">Profile</a>
                            <a href="/logout" id="logoutButton">Logout</a>
                        </div>
                    </div>
                    <% } else { %>
                    <a class="nav-link" href="/login">
                        <img src="/user/images/User.svg" alt="User" class="icon">
                        User
                    </a>
                    <% } %>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Logout Confirmation Modal -->
    <div class="modal" id="logoutModal">
        <div class="modal-content">
            <p>Are you sure you want to logout?</p>
            <button id="confirmLogout">Yes</button>
            <button id="cancelLogout">No</button>
        </div>
    </div>